[submodule "airesa"]
	path = airesa
	url = git@git.vauxoo.com:vauxoo/airesa.git
	branch = 19.0
[submodule "credit-management"]
	path = credit-management
	url = git@git.vauxoo.com:vauxoo/credit-management.git
	branch = 19.0
[submodule "stock-logistics-workflow"]
	path = stock-logistics-workflow
	url = git@github.com:Vauxoo/stock-logistics-workflow.git
	branch = 19.0
